main {
  margin-top: 100px;
}

.cart {
  position: relative;
  cursor: pointer;
}

.cart > span {
  position: absolute;
  background-color: #f00;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  right: 0px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  margin-bottom: 20px;
}

.rating > * {
  color: yellow;
}

.price {
  background-color: darkblue;
  font-size: 20px;
  color: #fff;
}

#total {
  background-color: darkblue;
}
